app:
  frontend: 'http://localhost:19006'

db:
  host: 'quickstack_db'
  username: 'docker'
  password: 'docker'
  synchronize: true

jwt:
  secret: 'topSecret41'

mail:
  from: 'backend@quickstack.com'
  host: 'smtp.ethereal.email'
  port: 587
  user: config.ethereal.username
  pass: config.ethereal.password
